body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(235, 250, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
}

#mainMenuButtonAuth, #mainMenuButtonReg {
    font-size: 40px;
    color: royalblue;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#mainMenuButtonAuth:hover, #mainMenuButtonReg:hover {
    font-size: 40px;
    color: midnightblue;
    background-color: white;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    transition: box-shadow 200ms linear;
}

.containerAuth, .containerReg {
    padding: 10px;
    font-size: 20px;
}

.hideContainer {
    display: none;
}

.errorAlert {
    color: red;
}

.interactiveBlock {
    display: flex;
    justify-content: space-between;
}

.functionality{
    font-size: 20px;
    color: black;
}

#backToMain {
    display: flex;
    justify-content: center;
}

h1, h3 {
    text-align: center;
}
